# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
*.env.*

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Misc
*.swp

# IDE and editor folders
.vscode/

# Coverage directory
coverage/

# Local environment files
*.local